body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #0e0e0e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.nav .text {
  display: flex;
  margin-left: 20px;
  font-size: 1.5rem;
}

.nav .text p {
  margin-left: 20px;
}

.nav h1 {
  /* font-size: 3rem; */
  letter-spacing: 0.5rem;
}

.nav .icons i {
  margin: 0 30px;
  font-size: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

.intro p {
  font-size: 1.5rem;
}

.project-container {
  width: 80%;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 3);
  grid-gap: 20px;
}

.project:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.project div {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2rem;
}

@media (max-width: 800px) {
  .nav .text {
    display: none;
  }

  .nav .icons {
    display: none;
  }

  .nav {
    font-size: 0.6rem;
    display: block;
    text-align: center;
  }

  .intro {
    padding: 2rem;
    font-size: 2rem;
  }

  .project-container {
    display: block;
    width: 95%;
  }

  .project {
    margin: 50px 0px;
  }
}
